<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <p id="currentUser">
        <%= userId %>
    </p>

    <div>
        <input type="text" id="mssg">
        <input type="text" id="receiver">
        <button onclick="send()">Submit</button>
    </div>

    <div id="chat-display">
        <li></li>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="main.js"></script>

</body>


</html>