<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.io simple chat</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <div class="inbox">
        <div class="inbox__people">
          <h4>Active users</h4>
        </div>
        <div class="inbox__messages">
          <div class="messages__history"></div>
          <div class="fallback"></div>
        </div>
      </div>

      <div>
        <input type="text" id="mssg">
        <button onclick="send()">Submit</button>
      </div>

      <div>
        <p id="mssg-got">Got new message!!</p>
      </div>

      <div>
        <p>Logged in User</p>
        <%= userId %>
      </div>

      <div>
        <a href="/login">Login</a>
      </div>

      <div>
        <a href="/logout">Logout</a>
      </div>

      <div>
        <a href="/signup">Signup</a>
      </div>

      <div>
        <a href="/chat">Chat here</a>
      </div>

    </div>
  </body>
</html>