/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
font-family: 'Numans', sans-serif;
}

.index-page{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


.sender-msg{
    border: 2px solid green;
    margin-top: 10px;
    border-radius: 5px;
    padding: 3px;
    margin-left: 80%;
    color: green;
    background: #E2FFC7;
    width: 20%;
}

.receiver-msg {
    border: 2px solid blue;
    margin-top: 10px;
    width: 20%;
    border-radius: 5px;
    padding: 3px;
    color: blue;
}

.left-panel{
border: 5px solid red;
}

.right-panel{
border: 5px solid blue;
padding: 0px;
margin-left: 0px;
}

#chat-display{
height: 800px;
overflow: scroll;
}

.chat-container{
height: 100px;
}

.timestamp{
margin-left: 30%;
width: 70%;
}

.chat-header{
    background: #036055;
    color: white;
    margin: 0px;
    padding: 20px;
}

.check{
    overflow: hidden;
}
.check span {
	color: #888;
	font-size: 12px;
    font-weight: 700px;
    float: right;
}

.submit{
    border: palegoldenrod solid 5px;
    padding: 20px;
    background-color: khaki;
}

.submit input{
    width: 90%;
    height: 20%;
    padding: 2%;
}